html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  background-color: white;
}

header {
  position: relative;
  background-color: white;
  height: 50px;
  width: 100%;
  color: blue;
  margin: 0;
  z-index: 20;
}

h1, h2 {
  font-weight: 100;
}

h2 {
  margin: 0 0 10px;
}

button {
  -webkit-app-region: no-drag;
}

#header-title {
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

#header-title span {
  font-size: 20px;
  color: #666;
  margin-top: 12px;
  display: inline-block;
}

#content {
  position: relative;
  height: 100vh;
}

webview {
  position: absolute;
  height: 100%;        /* Viewport-relative units */
  width: 100%;
}

/* Closing Maximazing and Minimizing Traffic-Lights (Apple)  */
.traffic-lights {
  top: 14px;
  left: 20px;
  position: absolute;
  width: 70px;
}
.focus .traffic-lights > .traffic-light-close, .traffic-lights:hover > .traffic-light-close, .traffic-lights:active > .traffic-light-close {
  background-color: #ff6159;
}
.focus .traffic-lights > .traffic-light-close:active:hover, .traffic-lights:hover > .traffic-light-close:active:hover, .traffic-lights:active > .traffic-light-close:active:hover {
  background-color: #bf4942;
}
.focus .traffic-lights > .traffic-light-minimize, .traffic-lights:hover > .traffic-light-minimize, .traffic-lights:active > .traffic-light-minimize {
  background-color: #ffbd2e;
}
.focus .traffic-lights > .traffic-light-minimize:active:hover, .traffic-lights:hover > .traffic-light-minimize:active:hover, .traffic-lights:active > .traffic-light-minimize:active:hover {
  background-color: #bf8e22;
}
.focus .traffic-lights > .traffic-light-maximize, .traffic-lights:hover > .traffic-light-maximize, .traffic-lights:active > .traffic-light-maximize {
  background-color: #28c941;
}
.focus .traffic-lights > .traffic-light-maximize:active:hover, .traffic-lights:hover > .traffic-light-maximize:active:hover, .traffic-lights:active > .traffic-light-maximize:active:hover {
  background-color: #1d9730;
}
.traffic-lights > .traffic-light:before, .traffic-lights > .traffic-light:after {
  visibility: hidden;
}
.traffic-lights:hover > .traffic-light:before, .traffic-lights:hover > .traffic-light:after, .traffic-lights:active > .traffic-light:before, .traffic-lights:active > .traffic-light:after {
  visibility: visible;
}

.traffic-light {
  border-radius: 100%;
  padding: 0;
  height: 15px;
  width: 15px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-right: 3.5px;
  position: relative;
  outline: none;
}

.traffic-light-close {
  background-color: #ff6159;
}

.traffic-light-minimize {
  background-color: #ffbd2e;
}

.traffic-light-maximize {
  background-color: #28c941;
}

.traffic-light:before, .traffic-light:after {
  content: '';
  position: absolute;
  border-radius: 1px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.traffic-light-close:before, .traffic-light-close:after {
  background-color: #4d0000;
  width: 8px;
  height: 1px;
}
.traffic-light-close:before {
  transform: rotate(45deg);
}
.traffic-light-close:after {
  transform: rotate(-45deg);
}
.traffic-light-close:active:hover:before, .traffic-light-close:active:hover:after {
  background-color: #190000;
}
.traffic-light-minimize:before {
  background-color: #995700;
  width: 8px;
  height: 1px;
}
.traffic-light-minimize:active:hover:before {
  background-color: #592800;
}
.traffic-light-maximize:before {
  background-color: #006500;
  width: 6px;
  height: 6px;
}
.traffic-light-maximize:after {
  background-color: #28c941;
  width: 10px;
  height: 2px;
  transform: rotate(45deg);
}
.traffic-light-maximize:active:hover:before {
  background-color: #003200;
}
.traffic-light-maximize:active:hover:after {
  background-color: #1d9730;
}

/*  Atom loader  */

.loader {
  margin: 50px auto;
  width: 120px;
  height: 120px;
  position: absolute;
  left: 45%;
  top: 30%;
  animation: loader 1s ease-in-out infinite alternate;
  perspective: 300px;
  transform-style: preserve-3d;
}
.loader:before {
	content: '';
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #555;
}
.loader .electron {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid #666;
  transform-style: preserve-3d;
}
.loader .electron:before {
	content: '';
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #666;
  transform-origin: 50% 50% 0;
}
.loader .electron:nth-child(1) {
  transform: rotateY(70deg) rotateZ(20deg);
  animation: electron-circle1 3s linear infinite;
}
.loader .electron:nth-child(2) {
  transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
  animation: electron-circle2 3s linear infinite;
}
.loader .electron:nth-child(3) {
  transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
  animation: electron-circle3 3s linear infinite;
}
.loader .electron:nth-child(1):before {
  transform: rotateZ(-20deg) rotateY(-70deg);
  animation: electron1 3s linear infinite;
}
.loader .electron:nth-child(2):before {
  transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
  animation: electron2 3s linear infinite;
}
.loader .electron:nth-child(3):before {
  transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
  animation: electron3 3s linear infinite;
}

@keyframes loader {
  from { transform: none; }
  to { transform: translateY(-10px); }
}
@keyframes electron-circle1 {
  from { transform: rotateY(70deg) rotateZ(20deg); }
  to { transform: rotateY(70deg) rotateZ(380deg); }
}
@keyframes electron1 {
  from { transform: rotateZ(-20deg) rotateY(-70deg); }
  to { transform: rotateZ(-380deg) rotateY(-70deg); }
}
@keyframes electron-circle2 {
  from { transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg); }
  to { transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg); }
}
@keyframes electron2 {
  from { transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg); }
  to { transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg); }
}
@keyframes electron-circle3 {
  from { transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg); }
  to { transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg); }
}
@keyframes electron3 {
  from { transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg); }
  to { transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg); }
}
